body{
  font-family: monospace;
  font-size: 18px;
}
.layout{
  width: 80%;
  border: 1px solid;
  min-height: 630px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 8px;
  border: 0;
}

input,select{
  padding: 9px;
    border-radius: 7px;
    font-size: 20px;
    border: 0;
    width: 200px;
    color: black;
    background: #e9e9e9e0;
}
input,select,button:focus{
  outline: none;
 
}







